@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

::-webkit-scrollbar {
    width: 8px;     /* Tamaño del scroll en vertical */
    height: 8px;    /* Tamaño del scroll en horizontal */
}
::-webkit-scrollbar-thumb {
    background: #747474;
}
/* Cambiamos el fondo y agregamos una sombra cuando esté en hover */
::-webkit-scrollbar-thumb:hover {
    background: #666;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}
/* Cambiamos el fondo cuando esté en active */
::-webkit-scrollbar-thumb:active {
    background-color: #666;
}
::-webkit-scrollbar-track {
    background: #e1e1e1;
}
/* Cambiamos el fondo cuando esté en active o hover */
::-webkit-scrollbar-track:hover,
::-webkit-scrollbar-track:active {
  background: #d4d4d4;
}

html {
  margin: 0;
  padding: 0;
  min-height: 100%;
  width: 100%; }

body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%; }

a {
  text-decoration: none; }

li {
  list-style: none; }

button {
  border: 0;
  outline: 0;
  cursor: pointer; }

.div-span {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-top: -1em; }
  .div-span span:nth-child(1), .div-span span:nth-child(3) {
    display: block;
    height: 2px;
    width: 1.5em;
    background: #ffcc33;
    position: relative;
    z-index: 100; }
  .div-span span:nth-child(2) {
    display: block;
    width: .45em;
    height: .45em;
    background: transparent;
    border: 2px solid #ffcc33; }

.h1 {
  font: 400 48px "Playfair Display";
  line-height: 42px;
  color: #333; }
  .h1 a {
    color: #ffcc33; }

header {
  width: 100%;
  height: auto;
  position: fixed;
  z-index: 10000; }
  header .nav, header .nav-bar {
    width: 100%; }
  header .nav-bar {
    display: flex;
    background: transparent;
    height: 5em; }
    header .nav-bar .nav-img {
      width: 37%; }
      header .nav-bar .nav-img a:nth-child(1) {
        animation: img .3s linear forwards;
        position: absolute; }
      header .nav-bar .nav-img a:nth-child(2) {
        opacity: 0;
        position: absolute !important; }
    header .nav-bar .nav-links {
      display: flex;
      align-items: center;
      width: 63%;
      animation: links .3s linear forwards;
      position: relative; }
      header .nav-bar .nav-links a {
        display: block;
        font: 700 14px 'Open Sans';
        line-height: 40px;
        color: white;
        margin: 0 1em;
        cursor: pointer; }
      header .nav-bar .nav-links a:nth-last-child(1) {
        padding-left: 2em;
        border-left: 1px solid white;
        height: 2.5em;
        display: flex;
        align-items: center;
        font-size: 16px;
        line-height: 23px; }
        header .nav-bar .nav-links a:nth-last-child(1) i {
          margin-right: .5em;
          font-size: 0.9em; }
    header .nav-bar .nav-toggle {
      width: 10%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      display: none; }
      header .nav-bar .nav-toggle a {
        width: auto;
        height: auto;
        cursor: pointer; }
        header .nav-bar .nav-toggle a span {
          display: block;
          height: 2px;
          width: 22px;
          margin-bottom: 4px;
          background: #ffcc33; }
  header .nav-menu {
    width: 100%;
    position: relative;
    display: block;
    background: #222;
    display: none; }
    header .nav-menu a {
      font: 700 14px "Open Sans";
      line-height: 40px;
      color: #fff;
      display: block;
      padding: .75em 0em .75em 2em;
      transition: .3s all;
      cursor: pointer;
      border-top: 1px solid #333; }
      header .nav-menu a:hover {
        background: #444; }
  header .nav-bar2 {
    background: white;
    height: 4em;
    box-shadow: 0 10px 33px rgba(0, 0, 0, 0.1); }
    header .nav-bar2 .nav-img a:nth-child(1) {
      opacity: 0 !important; }
    header .nav-bar2 .nav-img a:nth-child(2) {
      opacity: 1 !important;
      animation: img2 .3s linear forwards; }
    header .nav-bar2 .nav-links {
      animation: links2 .3s linear forwards; }
      header .nav-bar2 .nav-links a {
        color: #999;
        transition: .3s all; }
        header .nav-bar2 .nav-links a:hover {
          color: #333; }
      header .nav-bar2 .nav-links .nav-a {
        color: #fcb80b; }
      header .nav-bar2 .nav-links a:nth-last-child(1) {
        color: #fcb80b;
        height: 2em;
        border-left: 1px solid #fcb80b; }

.nav-menu2 {
  background: #eee !important; }
  .nav-menu2 a {
    color: #777 !important;
    border-top: 1px solid #ddd !important; }
    .nav-menu2 a:hover {
      background: #fff !important;
      color: #555 !important; }
    .nav-menu2 a:nth-last-of-type(1) {
      color: #fcb80b !important; }
    .nav-menu2 a .nav-a {
      color: #fcb80b !important; }

@keyframes links {
  0% {
    top: 0em; }
  100% {
    top: 0.5em; } }
@keyframes links2 {
  0% {
    top: 0.5em; }
  100% {
    top: 0; } }
@keyframes img {
  0% {
    padding-top: .5em;
    margin-left: 7%; }
  100% {
    padding-top: 1.25em;
    margin-left: 8%; } }
@keyframes img2 {
  0% {
    padding-top: 1.25em;
    margin-left: 8%; }
  100% {
    padding-top: .5em;
    margin-left: 7%; } }
.welcome {
  width: 85%;
  display: flex;
  padding: 5em 0 7em 0;
  margin-left: auto;
  margin-right: auto; }
  .welcome .welcome-first {
    width: 42.5%;
    position: relative; }
    .welcome .welcome-first span {
      width: 355px;
      height: 533px;
      background: transparent;
      display: block;
      position: absolute;
      top: 2em;
      left: 2em;
      border: 10px solid #fcb80b; }
  .welcome .welcome-second {
    width: 57.5%; }
    .welcome .welcome-second h1 {
      font: 400 24px "Playfair Display";
      color: #fcb80b;
      line-height: 34px; }
    .welcome .welcome-second h2 {
      font: 400 48px "Playfair Display";
      line-height: 42px;
      color: #333;
      margin-top: -0.25em; }
    .welcome .welcome-second h3 {
      font: 300 14px "Open Sans";
      color: #888;
      line-height: 24px; }
    .welcome .welcome-second .welcome-third {
      width: 100%;
      display: flex;
      margin-top: 1em; }
      .welcome .welcome-second .welcome-third .welcome-item {
        text-align: center; }
        .welcome .welcome-second .welcome-third .welcome-item .welcome-cont {
          display: flex;
          justify-content: center;
          align-items: center; }
          .welcome .welcome-second .welcome-third .welcome-item .welcome-cont span {
            text-align: center;
            color: white;
            background: #fcb80b;
            border-radius: 10em;
            width: 80px;
            height: 80px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 1.6em;
            transition: .4s all;
            perspective: 100px;
            transform-style: preserve-3d; }
        .welcome .welcome-second .welcome-third .welcome-item h4 {
          font: 600 14px "Open Sans";
          color: #333;
          line-height: 20px; }
        .welcome .welcome-second .welcome-third .welcome-item h5 {
          font: 300 14px "Open Sans";
          color: #333;
          line-height: 24px;
          margin-top: -1em; }
        .welcome .welcome-second .welcome-third .welcome-item:hover span {
          background: #333;
          transform: rotateY(180grad); }

.services {
  width: 100%;
  padding: 1em 0 5em 0;
  position: relative;
  background: #f8f8f8; }
  .services h1 {
    font: 400 48px "Playfair Display";
    color: #333;
    line-height: 42px;
    text-align: center;
    margin-bottom: 0.75em; }
  .services h2 {
    font: 300 14px "Open Sans";
    color: #888;
    line-height: 24px;
    text-align: center;
    width: 58%;
    margin-top: 2em;
    margin-left: auto;
    margin-right: auto; }
  .services .services-card {
    margin-left: auto;
    margin-right: auto;
    width: 86%;
    display: flex;
    margin-top: 3em;
    position: relative; }
    .services .services-card .services-item {
      margin: 0 .9em;
      width: 100%;
      height: 100%;
      backface-visibility: hidden;
      perspective: 1000px; }
      .services .services-card .services-item .services-item-cont {
        transition: .7s all;
        transform-style: preserve-3d;
        transform-origin: 50%;
        width: 100%;
        height: 100%; }
        .services .services-card .services-item .services-item-cont .services-front, .services .services-card .services-item .services-item-cont .services-back {
          position: absolute;
          width: 100%;
          height: 100%;
          -webkit-backface-visibility: hidden;
          backface-visibility: hidden; }
        .services .services-card .services-item .services-item-cont .services-front {
          transform: rotateY(0);
          z-index: 2; }
        .services .services-card .services-item .services-item-cont .services-back {
          transform: rotateY(180deg);
          border: 5px solid #fcb80b;
          position: relative;
          height: 100%;
          background: white; }
          .services .services-card .services-item .services-item-cont .services-back span {
            position: absolute;
            right: 0;
            background: #fcb80b;
            color: white;
            padding: 1em .75em;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer; }
          .services .services-card .services-item .services-item-cont .services-back h3 {
            font: 700 18px "Open Sans";
            color: #444;
            line-height: 26px;
            text-align: center;
            padding-top: 90%;
            margin-bottom: 1em; }
          .services .services-card .services-item .services-item-cont .services-back h4 {
            font: 300 14px "Open Sans";
            color: #777;
            line-height: 24px;
            text-align: center;
            width: 80%;
            margin-left: auto;
            margin-right: auto;
            margin-top: -0.5em; }
      .services .services-card .services-item:hover .services-item-cont {
        transform: rotateY(180deg); }
    .services .services-card img {
      width: 100%;
      height: 100%; }

.features {
  width: 100%;
  display: flex;
  position: relative; }
  .features .features-img {
    width: 50%;
    background-image: url(../img/features.webp);
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat; }
  .features .features-text {
    width: 42.5%;
    padding-bottom: 5em;
    margin-left: auto;
    margin-right: auto; }
    .features .features-text h1 {
      font: 400 48px "Playfair Display";
      color: #333;
      line-height: 52px; }
      .features .features-text h1 a {
        color: #fcb80b; }
    .features .features-text .div-span {
      justify-content: flex-start; }
    .features .features-text h2 {
      font: 300 14px "Open Sans";
      color: #888;
      line-height: 24px;
      margin-top: 1.5em; }
    .features .features-text .features-item {
      width: 100%;
      margin-top: 1em;
      display: flex;
      justify-content: center;
      align-items: center; }
      .features .features-text .features-item .features-span span {
        width: 70px;
        height: 70px;
        background: #ffcc33;
        color: white;
        font-size: 1.25em;
        border-radius: 10em;
        display: block;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 1.5em; }
      .features .features-text .features-item h3 {
        font: 700 20px "Playfair Display";
        color: #000;
        line-height: 26px; }
      .features .features-text .features-item h4 {
        font: 300 16px "Open Sans";
        line-height: 24px;
        color: #555;
        margin-top: -1em;
        margin-bottom: 0; }

.counter {
  width: 100%;
  position: relative;
  background-image: url(../img/counter.webp);
  background-size: 100%;
  background-position: center; }
  .counter .content-counter {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3em 0 2.5em 0;
    text-align: center; }
    .counter .content-counter .counter-item {
      width: 100%;
      color: white; }
      .counter .content-counter .counter-item span {
        color: white;
        font-size: 3.5em; }
      .counter .content-counter .counter-item h1 {
        font: 700 60px "Open Sans";
        line-height: 60px;
        margin-top: .25em; }
      .counter .content-counter .counter-item h2 {
        font: 700 14px "Open Sans";
        line-height: 20px;
        margin-top: -2.5em; }

.choose {
  width: 100%;
  position: relative;
  display: block;
  text-align: center;
  padding-top: 3em;
  height: 48em; }
  .choose h1 {
    font: 400 48px "Playfair Display";
    color: #333;
    line-height: 42px;
    margin-bottom: 1em; }
    .choose h1 a {
      color: #ffcc33; }
  .choose h2 {
    font: 300 14px "Open Sans";
    color: #888;
    line-height: 24px;
    margin-left: auto;
    margin-right: auto;
    width: 58%;
    margin-top: 2em; }
  .choose .choose-content {
    margin-top: 4em;
    margin-left: auto;
    margin-right: auto;
    width: 85%;
    height: 100%; }
    .choose .choose-content .choose-item {
      width: calc(100%/3);
      float: left;
      margin-bottom: 2em; }
      .choose .choose-content .choose-item .choose-span {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%; }
        .choose .choose-content .choose-item .choose-span span {
          width: 70px;
          height: 70px;
          background: #ffcc33;
          color: white;
          font-size: 1.25em;
          border-radius: 10em;
          display: block;
          display: flex;
          justify-content: center;
          align-items: center;
          margin-right: 1.5em;
          transition: .5s all;
          width: 72px;
          height: 72px;
          font-size: 1.5em;
          margin: 0; }
      .choose .choose-content .choose-item:hover .choose-span span {
        background: #333;
        transform: rotateY(180deg); }
      .choose .choose-content .choose-item h3 {
        font: 500 18px "Playfair Display";
        color: #000;
        line-height: 26px; }
      .choose .choose-content .choose-item h4 {
        font: 300 14px "Open Sans";
        color: #888;
        line-height: 24px;
        margin-top: -.5em; }

.creative {
  width: 100%;
  position: relative;
  display: block;
  margin-top: 2em;
  background-image: url(../img/creative.webp);
  background-size: 128em;
  background-repeat: no-repeat;
  text-align: center;
  padding: 4em 0; }
  .creative h1 {
    font: 400 48px "Playfair Display";
    color: #fff;
    line-height: 42px;
    margin-top: 0;
    margin-bottom: 1em; }
    .creative h1 a {
      color: #ffcc33; }
  .creative .div-span span:nth-child(2) {
    background: white; }
  .creative h2 {
    font: 300 14px "Open Sans";
    color: #fff;
    line-height: 24px;
    margin-left: auto;
    margin-right: auto;
    width: 58%;
    margin-top: 2em; }
  .creative .creative-cards {
    width: 100%;
    position: relative;
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5em;
    width: 88%; }
    .creative .creative-cards .creative-item {
      width: 98%;
      margin-left: 1%;
      margin-right: 1%; }
      .creative .creative-cards .creative-item .creative-img {
        width: 100%;
        overflow: hidden; }
        .creative .creative-cards .creative-item .creative-img img {
          width: 100%;
          transition: .6s all; }
      .creative .creative-cards .creative-item:hover .creative-img img {
        transform: scale(1.2) rotate(5deg); }
      .creative .creative-cards .creative-item .creative-buttons {
        width: 100%;
        position: relative;
        display: block;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: -.5em; }
        .creative .creative-cards .creative-item .creative-buttons a {
          display: block;
          width: 100%;
          color: white;
          background: #fcb80b;
          padding: .75em 0;
          font-size: .9em;
          transition: .3s all; }
          .creative .creative-cards .creative-item .creative-buttons a:hover {
            background: #fff;
            color: #fcb80b; }
      .creative .creative-cards .creative-item h3 {
        font: 500 24px "Playfair Display";
        color: #fcb80b;
        line-height: 26px;
        margin-top: .75em; }
      .creative .creative-cards .creative-item h4 {
        font: 500 14px "Playfair Display";
        color: #fff;
        line-height: 15px;
        margin-top: -1em; }

.projects {
  width: 100%;
  position: relative;
  display: block;
  text-align: center;
  height: 63em;
  padding-bottom: 4em; }
  .projects h1 {
    font: 400 48px "Playfair Display";
    line-height: 42px;
    color: #333;
    margin-top: 1.5em;
    margin-bottom: 1em; }
    .projects h1 a {
      color: #fcb80b; }
  .projects h2 {
    font: 300 14px "Open Sans";
    line-height: 24px;
    color: #888;
    margin-left: auto;
    margin-right: auto;
    width: 58%;
    margin-top: 2em; }
  .projects .projects-cards {
    margin-left: auto;
    margin-right: auto;
    width: 85%;
    margin-top: 4em; }
    .projects .projects-cards .projects-item {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 24%;
      margin-right: .5%;
      margin-left: .5%;
      float: left;
      backface-visibility: hidden;
      perspective: 1000px;
      height: auto;
      margin-bottom: 1em; }
      .projects .projects-cards .projects-item .projects-cont {
        transition: .7s all;
        transform-style: preserve-3d;
        transform-origin: 50%;
        width: 100%; }
        .projects .projects-cards .projects-item .projects-cont .back, .projects .projects-cards .projects-item .projects-cont .front {
          position: absolute;
          width: 100%;
          height: 100%;
          -webkit-backface-visibility: hidden;
          backface-visibility: hidden; }
        .projects .projects-cards .projects-item .projects-cont .front {
          transform: rotateY(0);
          z-index: 2;
          display: flex;
          justify-content: center;
          align-items: center;
          overflow: hidden; }
        .projects .projects-cards .projects-item .projects-cont .back {
          transform: rotateY(180deg);
          border: 5px solid #fcb80b;
          position: relative;
          height: 100%;
          background: white; }
          .projects .projects-cards .projects-item .projects-cont .back span {
            position: absolute;
            right: 0;
            background: #fcb80b;
            color: white;
            padding: 1em .75em;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer; }
          .projects .projects-cards .projects-item .projects-cont .back h3 {
            font: 700 18px "Open Sans";
            color: #444;
            line-height: 26px;
            text-align: center;
            padding-top: 70%; }
          .projects .projects-cards .projects-item .projects-cont .back h4 {
            font: 300 14px "Open Sans";
            color: #777;
            line-height: 24px;
            text-align: center;
            width: 80%;
            margin-left: auto;
            margin-right: auto;
            margin-top: -0.5em; }
      .projects .projects-cards .projects-item:nth-child(5) {
        clear: both; }
      .projects .projects-cards .projects-item:hover .projects-cont {
        transform: rotateY(180deg); }
    .projects .projects-cards img {
      width: 100%;
      height: 100%; }

.purchase {
  width: 100%;
  position: relative;
  display: block;
  background-image: url(../img/counter.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  padding: 3em 0 4em 0; }
  .purchase h1 {
    font: 500 40px "Playfair Display";
    line-height: 52px;
    color: #fff;
    margin-top: 0; }
  .purchase h2 {
    font: 300 24px "Open Sans";
    line-height: 32px;
    color: #fff;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    margin-bottom: 1.5em;
    margin-top: -.5em; }
  .purchase a {
    font: 600 20px "Open Sans";
    line-height: 29px;
    color: #fff;
    transition: .3s all;
    background: #000;
    padding: 1em 1.5em;
    border-radius: .25em; }
    .purchase a:hover {
      background: #fff;
      color: #000; }

.packages {
  width: 100%;
  position: relative;
  display: block;
  text-align: center;
  padding: 2em 0 5em 0; }
  .packages h1 {
    font: 400 48px "Playfair Display";
    line-height: 42px;
    margin-bottom: 1em;
    color: #333; }
    .packages h1 a {
      color: #fcb80b; }
  .packages h2 {
    font: 300 14px "Open Sans";
    line-height: 24px;
    color: #888;
    margin-left: auto;
    margin-right: auto;
    width: 58%;
    margin-top: 1em;
    margin-bottom: 1em; }
  .packages .packages-cards {
    margin-left: auto;
    margin-right: auto;
    width: 85%;
    margin-top: 2em;
    display: flex;
    justify-content: center;
    align-items: center; }
    .packages .packages-cards .packages-item {
      width: 97.5%;
      margin-left: 1.25%;
      margin-right: 1.25%;
      padding: 2em 0;
      transition: .3s all; }
      .packages .packages-cards .packages-item span {
        color: #999;
        font-size: 3em;
        display: flex;
        justify-content: center;
        align-items: center; }
      .packages .packages-cards .packages-item h6 {
        font: 700 30px "Playfair Display";
        line-height: 32px;
        color: #333;
        margin-top: .25em; }
      .packages .packages-cards .packages-item h3 {
        font: 700 48px "Open Sans";
        color: #ffcc33;
        line-height: 69px;
        margin-top: -1.25em; }
      .packages .packages-cards .packages-item h4 {
        font: 400 14px "Open Sans";
        color: #888;
        line-height: 20px;
        margin-top: -3.5em; }
      .packages .packages-cards .packages-item h5 {
        font: 300 14px "Open Sans";
        color: #888;
        line-height: 24px;
        padding: .75em 0;
        border-top: 1px solid #eee;
        margin: 0;
        margin-left: auto;
        margin-right: auto;
        width: 90%; }
      .packages .packages-cards .packages-item h5:nth-last-of-type(1) {
        margin-bottom: 2em; }
      .packages .packages-cards .packages-item a {
        font: 600 16px "Open Sans";
        color: #fff;
        background: #ffcc33;
        transition: .3s all;
        border-radius: .25em;
        padding: .75em 1.25em;
        cursor: pointer; }
        .packages .packages-cards .packages-item a:hover {
          background: #333; }
      .packages .packages-cards .packages-item:hover {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); }

.testimonials {
  text-align: center;
  background-image: url(../img/testimonials.webp);
  background-size: 100%;
  background-position: center;
  padding: 4em 0 5em 0; }
  .testimonials h1 {
    margin-top: 0;
    margin-bottom: 1em; }
  .testimonials .div-span {
    margin-bottom: 1.5em; }
  .testimonials h2, .testimonials h3 {
    font: 300 18px "Open Sans";
    line-height: 24px;
    color: #666; }
  .testimonials .testimonials-carousel {
    margin-left: auto;
    margin-right: auto;
    width: 75%; }
    .testimonials .testimonials-carousel h3 {
      line-height: 26px;
      color: #000;
      margin-left: auto;
      margin-right: auto;
      width: 82%;
      font-style: italic;
      margin-top: 2em;
      border: 1px solid #eee;
      background: rgba(255, 255, 255, 0.5);
      padding: 20px; }
  .testimonials h4 {
    font: 700 24px "Open Sans";
    line-height: 34px;
    color: #000;
    margin-top: 0; }
  .testimonials h5 {
    font: 600 14px "Open Sans";
    line-height: 20px;
    color: #555;
    margin-top: -2em; }

.slider, .slides {
  height: 750px !important; }
  .slider .caption1, .slides .caption1 {
    width: 90% !important;
    text-align: center !important;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 10em !important; }
  .slider .caption2, .slides .caption2 {
    text-align: right;
    width: 50% !important;
    margin-left: 45%;
    margin-top: 5em; }
  .slider h1, .slides h1 {
    font: 700 24px "Ubuntu";
    color: #fff !important; }
  .slider h2, .slides h2 {
    font: 700 50px "Ubuntu";
    color: #fff !important;
    margin-top: -.25em; }
  .slider a, .slides a {
    font: 700 18px "Open Sans";
    color: #fff;
    cursor: pointer;
    transition: .3s all;
    padding: .75em 2em;
    border-radius: .25em;
    background: #000; }
    .slider a:hover, .slides a:hover {
      background: #ffcc33; }

.blog {
  width: 100%;
  position: relative;
  display: block;
  text-align: center;
  padding: 2em 0 3em 0; }
  .blog h1 {
    margin-bottom: 1em; }
  .blog h2 {
    margin-left: auto;
    margin-right: auto;
    width: 58%;
    font: 300 14px "Open Sans";
    color: #888;
    line-height: 24px;
    margin-top: 2em; }
  .blog .blog-carousel {
    margin-left: auto;
    margin-right: auto;
    width: 85%;
    text-align: left;
    margin-top: 3em; }
    .blog .blog-carousel img {
      width: 100%; }
    .blog .blog-carousel .owl-dots {
      margin-top: 3em !important; }
    .blog .blog-carousel h3 {
      font: 700 18px "Playfair Display";
      color: #000;
      line-height: 26px;
      margin-top: .5em; }
    .blog .blog-carousel h4 {
      font: 400 14px "Open Sans";
      line-height: 20px;
      color: #777;
      margin-top: -.75em; }
      .blog .blog-carousel h4 i {
        margin-right: 0.25em; }
    .blog .blog-carousel h5 {
      font: 400 14px "Open Sans";
      line-height: 24px;
      color: #333;
      margin-top: -.75em; }
      .blog .blog-carousel h5 a {
        color: #ffcc33; }
    .blog .blog-carousel h6 {
      font: 300 14px "Open Sans";
      color: #888;
      line-height: 24px;
      margin-top: -.75em; }
    .blog .blog-carousel .blog-a {
      font: 600 14px "Open Sans";
      color: #fff;
      background: #fcb80b;
      transition: .3s all;
      border-radius: .25em;
      padding: .5em;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 6em; }
      .blog .blog-carousel .blog-a:hover {
        background: #333; }

.contact {
  width: 100%;
  position: relative;
  display: block;
  padding: 5em 0 3em 0;
  background-image: url(../img/contact.webp);
  background-size: 100%;
  background-position: center top; }
  .contact .contact-cont {
    margin-left: auto;
    margin-right: auto;
    width: 85%;
    display: flex; }
    .contact .contact-cont .contact-form {
      width: 70%; }
      .contact .contact-cont .contact-form h1 {
        font: 700 36px "Playfair Display";
        color: #fff;
        line-height: 40px;
        width: 90%; }
        .contact .contact-cont .contact-form h1 a {
          color: #fcb80b;
          font-weight: 400; }
      .contact .contact-cont .contact-form .contact-inputs {
        width: 95%;
        position: relative;
        margin-top: 3em; }
        .contact .contact-cont .contact-form .contact-inputs input {
          font: 400 18px "Open Sans";
          line-height: 26px #555;
          padding: .75em .55em;
          border-radius: .25em;
          outline: none;
          border: 2px solid #fff;
          width: 45%;
          margin-bottom: 1.25em; }
          .contact .contact-cont .contact-form .contact-inputs input:nth-child(2), .contact .contact-cont .contact-form .contact-inputs input:nth-child(4) {
            margin-left: 2%; }
          .contact .contact-cont .contact-form .contact-inputs input:nth-child(5) {
            width: 96%;
            height: 7em; }
          .contact .contact-cont .contact-form .contact-inputs input:active, .contact .contact-cont .contact-form .contact-inputs input:focus {
            border: 2px solid #fcb80b; }
        .contact .contact-cont .contact-form .contact-inputs a {
          font: 400 18px "Open Sans";
          line-height: 26px;
          color: #fff;
          transition: .3s all;
          padding: .5em 0;
          width: 100%;
          display: block;
          background: #ffcc33;
          text-align: center;
          border-radius: .25em; }
          .contact .contact-cont .contact-form .contact-inputs a:hover {
            background: #555; }
    .contact .contact-cont .contact-map {
      width: 30%; }
      .contact .contact-cont .contact-map .google-map {
        height: 550px; }

.newsletter {
  text-align: center;
  width: 100%;
  position: relative;
  display: block;
  background-image: url(../img/counter.webp);
  background-size: 100%;
  background-position: center;
  padding: 1.5em 0 3em 0; }
  .newsletter h1 {
    color: #fff;
    margin-bottom: 1em; }
  .newsletter .div-span span {
    background: #fff; }
  .newsletter h2 {
    font: 300 16px "Open Sans";
    line-height: 24px;
    color: #fff;
    margin-top: 1.5em;
    margin-bottom: 2.5em; }
  .newsletter .newsletter-input {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    background: #fff;
    width: 40em;
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: .35em;
    position: relative; }
    .newsletter .newsletter-input span {
      width: 5%;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #ccc;
      font-size: 1.5em;
      position: relative; }
    .newsletter .newsletter-input input {
      width: 95%;
      font: 400 16px "Open Sans";
      line-height: 23px;
      color: #555;
      border: 0;
      outline: none;
      padding: 0 1em; }
    .newsletter .newsletter-input a {
      width: 30%;
      font: 700 18px "Open Sans";
      line-height: 26px;
      color: #fff;
      background: #000;
      transition: .3s all;
      outline: none;
      position: absolute;
      right: 0;
      padding: .85em 0;
      text-transform: uppercase;
      cursor: pointer; }

.footer {
  width: 100%;
  position: relative;
  display: block;
  text-align: center;
  background: #000;
  padding: 3em 0; }
  .footer .footer-buttons {
    width: 100%;
    position: relative;
    display: block;
    display: flex;
    justify-content: center;
    align-items: center; }
    .footer .footer-buttons a {
      border-radius: 10em;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      background: #ffcc33;
      font-size: 18px;
      height: 36px;
      width: 36px;
      margin: 0 7px;
      transition: .3s all; }
      .footer .footer-buttons a:hover {
        color: #000; }
  .footer h3 {
    font: 300 14px "Open Sans";
    line-height: 24px;
    color: #fff;
    margin-top: 2em; }

.centrado {
  background: white;
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100000; }

@keyframes ldio-pgm0ni58ya {
  0% {
    opacity: 1;
    transform: translateZ(0) scale(1.5, 1.5); }
  100% {
    opacity: 0;
    transform: translateZ(0) scale(1, 1); } }
.ldio-pgm0ni58ya div > div {
  position: absolute;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: #fcb80b;
  animation: ldio-pgm0ni58ya 1s linear infinite; }

.ldio-pgm0ni58ya div:nth-child(1) > div {
  left: 148px;
  top: 88px;
  animation-delay: -0.875s; }

.ldio-pgm0ni58ya > div:nth-child(1) {
  transform: rotate(0deg);
  transform-origin: 160px 100px; }

.ldio-pgm0ni58ya div:nth-child(2) > div {
  left: 130px;
  top: 130px;
  animation-delay: -0.75s; }

.ldio-pgm0ni58ya > div:nth-child(2) {
  transform: rotate(45deg);
  transform-origin: 142px 142px; }

.ldio-pgm0ni58ya div:nth-child(3) > div {
  left: 88px;
  top: 148px;
  animation-delay: -0.625s; }

.ldio-pgm0ni58ya > div:nth-child(3) {
  transform: rotate(90deg);
  transform-origin: 100px 160px; }

.ldio-pgm0ni58ya div:nth-child(4) > div {
  left: 46px;
  top: 130px;
  animation-delay: -0.5s; }

.ldio-pgm0ni58ya > div:nth-child(4) {
  transform: rotate(135deg);
  transform-origin: 58px 142px; }

.ldio-pgm0ni58ya div:nth-child(5) > div {
  left: 28px;
  top: 88px;
  animation-delay: -0.375s; }

.ldio-pgm0ni58ya > div:nth-child(5) {
  transform: rotate(180deg);
  transform-origin: 40px 100px; }

.ldio-pgm0ni58ya div:nth-child(6) > div {
  left: 46px;
  top: 46px;
  animation-delay: -0.25s; }

.ldio-pgm0ni58ya > div:nth-child(6) {
  transform: rotate(225deg);
  transform-origin: 58px 58px; }

.ldio-pgm0ni58ya div:nth-child(7) > div {
  left: 88px;
  top: 28px;
  animation-delay: -0.125s; }

.ldio-pgm0ni58ya > div:nth-child(7) {
  transform: rotate(270deg);
  transform-origin: 100px 40px; }

.ldio-pgm0ni58ya div:nth-child(8) > div {
  left: 130px;
  top: 46px;
  animation-delay: 0s; }

.ldio-pgm0ni58ya > div:nth-child(8) {
  transform: rotate(315deg);
  transform-origin: 142px 58px; }

.loadingio-spinner-spin-rrx31v2doba {
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
  background: #ffffff; }

.ldio-pgm0ni58ya {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0;
  /* see note above */ }

.ldio-pgm0ni58ya div {
  box-sizing: content-box; }

@media screen and (max-width: 1125px) {
  .nav-links {
    width: 100% !important; }

  .welcome {
    width: 98%; }

  .services {
    height: 78em; }
    .services .services-card {
      display: block; }
      .services .services-card .services-item {
        width: 40%;
        height: 100%;
        float: left;
        margin: 0 5%;
        margin-bottom: 2em; }

  .choose {
    height: 52em; }
    .choose h2 {
      width: 75%; }
    .choose .choose-content {
      width: 90%; }
      .choose .choose-content .choose-item {
        margin-bottom: 2.5em; }
        .choose .choose-content .choose-item h4 {
          width: 90%;
          margin-left: auto;
          margin-right: auto; }

  .projects {
    padding-bottom: 0em; }
    .projects .projects-cards {
      width: 90%; }

  .packages h2 {
    width: 75%; }

  .testimonials .testimonials-carousel {
    width: 90%; }

  .contact .contact-cont .contact-form .contact-inputs input {
    width: 44%; }
    .contact .contact-cont .contact-form .contact-inputs input:nth-child(5) {
      width: 94.5%; }
  .contact .contact-cont .contact-map .google-map {
    height: 500px; } }
@media screen and (max-width: 1100px) {
  .nav-img {
    width: 20% !important; }
    .nav-img a {
      margin-left: 2em !important; }

  .nav-links {
    width: 85% !important; }

  .projects .projects-cards {
    width: 95%; } }
@media screen and (max-width: 1000px) {
  header .nav-bar .nav-links {
    display: none; }
  header .nav-bar .nav-img {
    width: 90% !important; }
    header .nav-bar .nav-img a {
      margin-left: 1em; }
  header .nav-bar .nav-toggle {
    display: flex; }
  header .nav-menu {
    display: block !important; }

  .slider .caption2 {
    width: 70% !important;
    margin-left: 25%; }
  .slider h1 {
    font: 700 20px "Ubuntu"; }
  .slider h2 {
    font: 700 42px "Ubuntu"; }
  .slider a {
    font: 700 15px "Open Sans"; }

  .welcome {
    width: 85%;
    display: block; }
    .welcome .welcome-first {
      width: 100%;
      margin-bottom: 5em;
      text-align: center; }
      .welcome .welcome-first span {
        margin-left: 50%;
        transform: translate(-50%);
        left: 3em; }
    .welcome .welcome-second {
      width: 100%; }
      .welcome .welcome-second h1, .welcome .welcome-second h2 {
        text-align: center; }
      .welcome .welcome-second h3 {
        margin: 2em 0; }
      .welcome .welcome-second .welcome-third {
        margin-top: 2em; }

  .services {
    height: 72em; }
    .services .services-card .services-item {
      width: 42%;
      margin: 0 4%;
      margin-bottom: 2em; }

  .features {
    display: block; }
    .features .features-img {
      width: 90%;
      height: 20em;
      margin-left: auto;
      margin-right: auto;
      margin-top: 5em; }
    .features .features-text {
      width: 85%;
      padding-bottom: 5em;
      margin-top: 3em;
      margin-left: auto;
      margin-right: auto; }
      .features .features-text h1, .features .features-text h2 {
        text-align: center; }
      .features .features-text .div-span {
        justify-content: center; }
      .features .features-text .features-item {
        margin-top: 3em; }

  .counter .content-counter {
    width: 95%; }
    .counter .content-counter .counter-item span {
      font-size: 3em; }
    .counter .content-counter .counter-item h1 {
      font: 700 48px "Open Sans"; }

  .choose {
    height: 68em; }
    .choose .choose-content .choose-item {
      margin-bottom: 2.5em;
      width: calc(100%/2); }

  .creative {
    height: 97em;
    background-size: cover;
    background-repeat: no-repeat; }
    .creative h2 {
      width: 75%; }
    .creative .creative-cards {
      display: block;
      width: 80%; }
      .creative .creative-cards .creative-item {
        width: 45%;
        margin-left: 2.5%;
        margin-right: 2.5%;
        float: left;
        margin-bottom: 4em; }

  .projects {
    height: 122em; }
    .projects h2 {
      width: 75%; }
    .projects .projects-cards {
      width: 75%; }
      .projects .projects-cards .projects-item {
        width: 49%;
        margin-right: .5%;
        margin-left: .5%; }

  .purchase h2 {
    width: 75%;
    margin-bottom: 2em; }
  .purchase a {
    padding: .75em 1.5em; }

  .packages .packages-cards {
    width: 95%;
    margin-top: 3em; }

  .contact .contact-cont {
    display: block; }
    .contact .contact-cont .contact-form {
      width: 100%; }
      .contact .contact-cont .contact-form .contact-inputs {
        width: 100%;
        margin-bottom: 1em; }
        .contact .contact-cont .contact-form .contact-inputs input {
          width: 45%; }
    .contact .contact-cont .contact-map {
      width: 100%; }
      .contact .contact-cont .contact-map .google-map {
        height: 450px; } }
@media screen and (max-width: 950px) {
  .creative {
    height: 90em; }

  .projects {
    height: 118em; } }
@media screen and (max-width: 900px) {
  .creative {
    height: 85em; } }
@media screen and (max-width: 850px) {
  .packages .packages-cards {
    width: 85%;
    display: block; }
    .packages .packages-cards .packages-item {
      width: 100%;
      margin-left: 0%;
      margin-right: 0%;
      margin-bottom: 4em; } }
@media screen and (max-width: 800px) {
  .services {
    height: 72em; }
    .services h1 {
      font: 400 30px "Playfair Display";
      margin-top: 1em;
      margin-bottom: 1.5em; }
    .services h2 {
      width: 80%; }
    .services .services-card {
      width: 100%; }

  .creative {
    height: 80em; }

  .projects {
    height: 115em; }

  .purchase h2 {
    width: 90%; }

  .contact .contact-cont {
    width: 90%; }
    .contact .contact-cont .contact-form .contact-inputs input {
      width: 96%;
      margin-left: 0 !important; }
      .contact .contact-cont .contact-form .contact-inputs input:nth-child(5) {
        width: 96%;
        height: 7em; }
    .contact .contact-cont .contact-map {
      width: 100%; }
      .contact .contact-cont .contact-map .google-map {
        height: 450px; } }
@media screen and (max-width: 750px) {
  .welcome {
    width: 95%; }
    .welcome .welcome-first {
      margin-bottom: 2em; }
      .welcome .welcome-first img {
        width: auto;
        border: 10px solid #fcb80b; }
      .welcome .welcome-first span {
        display: none; }
    .welcome .welcome-second h2 {
      font: 400 30px "Playfair Display";
      line-height: 42px;
      color: #333;
      margin-top: -0.75em; }
    .welcome .welcome-second h3 {
      width: 90%;
      margin-left: auto;
      margin-right: auto; }
    .welcome .welcome-second .welcome-third {
      display: block; }
      .welcome .welcome-second .welcome-third .welcome-item {
        text-align: center;
        margin-bottom: 5em; }

  .features .features-text h1 {
    font: 400 30px "Playfair Display";
    margin-bottom: 1.25em; }

  .counter {
    background-repeat: no-repeat;
    background-size: cover; }
    .counter .content-counter {
      display: block;
      width: 95%;
      padding: .1em 0; }
      .counter .content-counter .counter-item {
        margin: 5em 0; }

  .choose {
    height: auto;
    padding-bottom: 2em; }
    .choose h1 {
      font: 400 30px "Playfair Display"; }
    .choose h2 {
      width: 90%; }
    .choose .choose-content .choose-item {
      margin-bottom: 3.5em;
      width: 100%;
      float: none; }

  .h1 {
    font: 400 30px "Playfair Display" !important; }

  .creative h1 {
    font: 400 30px "Playfair Display"; }
  .creative h2 {
    width: 95%; }

  .projects {
    height: 118em; }
    .projects .projects-cards {
      width: 85%; }

  .packages h2 {
    width: 90%; }

  .blog h2 {
    width: 90%; }
  .blog .blog-carousel {
    width: 95%; }

  .newsletter .newsletter-input {
    width: 90%;
    justify-content: flex-start; }
    .newsletter .newsletter-input input {
      width: 58%; }
    .newsletter .newsletter-input a {
      font-size: 14px;
      padding: 1.1em 0; } }
@media screen and (max-width: 700px) {
  header .nav-bar .nav.img {
    width: 80%; }
  header .nav-bar .nav-toggle {
    width: 20%; }

  .slider, .slides {
    height: 575px !important; }
    .slider .caption2, .slides .caption2 {
      width: 95% !important;
      margin-left: 0%;
      margin-top: 5em !important; }
    .slider .caption1, .slides .caption1 {
      margin-top: 5em !important; }
    .slider h1, .slides h1 {
      font: 700 14px "Ubuntu"; }
    .slider h2, .slides h2 {
      font: 700 29px "Ubuntu";
      margin-top: .25em; }
    .slider a, .slides a {
      font: 700 12px "Open Sans"; }

  .creative {
    height: 85em; }
    .creative .creative-cards {
      width: 95%; }

  .projects {
    height: 118em; }
    .projects .projects-cards {
      width: 90%; } }
@media screen and (max-width: 650px) {
  .services {
    height: 67em; }

  .creative {
    height: 80em; }

  .projects {
    height: 113em; } }
@media screen and (max-width: 600px) {
  .services {
    height: 65em; }

  .projects {
    height: 110em; }

  .contact .contact-cont .contact-form .contact-inputs input {
    width: 90%; }
    .contact .contact-cont .contact-form .contact-inputs input:nth-child(5) {
      width: 90%; }
  .contact .contact-cont .contact-form .contact-inputs a {
    width: 94%; } }
@media screen and (max-width: 550px) {
  .services {
    height: auto;
    padding-bottom: 3em; }
    .services .services-card {
      width: 85%;
      margin-left: auto;
      margin-right: auto; }
      .services .services-card .services-item {
        float: none;
        width: 100%;
        margin: 0;
        margin-bottom: 2em; }

  .creative {
    height: auto; }
    .creative .creative-cards {
      display: block;
      width: 90%; }
      .creative .creative-cards .creative-item {
        width: 100%;
        margin-left: 0%;
        margin-right: 0%;
        float: none;
        margin-bottom: 4em; }
        .creative .creative-cards .creative-item:nth-last-of-type(1) {
          margin-bottom: 0; }

  .projects {
    height: auto;
    padding-bottom: 2em; }
    .projects h2 {
      width: 95%; }
    .projects .projects-cards {
      width: 85%; }
      .projects .projects-cards .projects-item {
        width: 100%;
        margin-right: 0%;
        margin-left: 0%;
        float: none;
        height: 100%; }
        .projects .projects-cards .projects-item .projects-cont {
          height: 100%; }
          .projects .projects-cards .projects-item .projects-cont img {
            height: auto; }

  .purchase h1 {
    font: 500 30px "Playfair Display";
    margin-bottom: 1em; }
  .purchase h2 {
    font-size: 18px;
    width: 95%; }
  .purchase a {
    font-size: 16px; }

  .packages {
    padding-bottom: 0em; }
    .packages h2 {
      width: 95%; }
    .packages .packages-cards {
      width: 90%; }

  .blog h2 {
    width: 95%; }
  .blog .blog-carousel {
    width: 90%; } }
@media screen and (max-width: 500px) {
  .loadingio-spinner-spin-rrx31v2doba {
    margin-top: -2em; }

  @keyframes ldio-pgm0ni58ya {
    0% {
      opacity: 1;
      transform: translateZ(0) scale(1.25, 1.25); }
    100% {
      opacity: 0;
      transform: translateZ(0) scale(0.75, 0.75); } }
  .newsletter .newsletter-input {
    width: 80%; }
    .newsletter .newsletter-input input {
      width: 58%; }
    .newsletter .newsletter-input a {
      font-size: 14px;
      padding: 1.1em 0;
      width: 8em; } }
@media screen and (max-width: 450px) {
  .welcome .welcome-first {
    margin-top: -2em; }
    .welcome .welcome-first img {
      width: 90%;
      height: auto; }
  .welcome .welcome-second h3 {
    width: 95%; }

  .features .features-img {
    width: 95%;
    height: 18em; }
  .features .features-text {
    width: 90%; }
    .features .features-text .features-span {
      display: flex;
      justify-content: center;
      align-items: center; }
    .features .features-text .features-item {
      margin-top: 3em;
      display: block;
      text-align: center; }
      .features .features-text .features-item .features-span span {
        margin: 0; } }
@media screen and (max-width: 400px) {
  .nav-img {
    width: 70% !important; }
    .nav-img a {
      margin-left: 0.75em !important; }

  .nav-toggle {
    width: 30% !important; }

  .projects .projects-cards {
    width: 90%; } }

/*# sourceMappingURL=styles.css.map */
