.slider,.slides{  
    height: 750px !important;         
    .caption1{
        width: 90% !important;
        text-align: center !important;   
        margin-left: 5%;
        margin-right: 5%;   
        margin-top: 10em !important;         
    }
    .caption2{  
        text-align: right;  
        width: 50% !important;  
        margin-left: 45%;    
        margin-top: 5em; 
    }
        h1{
            font: 700 24px $ubuntu;  
            color: #fff !important;   
        }
        h2{
            font: 700 50px $ubuntu;
            color: #fff !important;
            margin-top: -.25em;      
        }
        a{
            font: 700 18px $open;
            color: #fff;
            cursor: pointer;
            transition: .3s all;
            padding: .75em 2em;     
            border-radius: .25em;
            background: #000;  
            &:hover{
                background: $a2;
            }
        }
}  